@import "tailwindcss";

:root {
  /*  --background: #ffffff;
  --foreground: #171717; */
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /*  --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

* {
  box-sizing: border-box;

}

.image {
  background-image: url('/image/test-image.png');
  /* La taille de l'arrière-plan est maintenant fixée à 200% de la largeur de l'élément (.caverne) */

  background-position: top left;
  /* L'image commence tout à gauche */
  background-repeat: no-repeat;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#lushcave-section {
  display: flex;
  overflow: hidden;
}

#lushcave-section .maison {
  height: 100vh;
  width: 200vw;
  /* 2 écrans */
  display: flex;

}

#lushcave-section .maison>div {
  width: 100vw;
  display: grid;
  place-items: center;
}

#mineshaft {
  display: flex;
  overflow: hidden;
}

#mineshaft .caverne {
  height: 100vh;
  width: 200vw;
  /* 2 écrans */
  display: flex;
}

#lushcave-section .caverne>div {
  width: 100vw;
  display: grid;
  place-items: center;
}

@keyframes pop {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}