@import "tailwindcss";

:root {
  /*  --background: #ffffff;
  --foreground: #171717; */
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /*  --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

* {
  box-sizing: border-box;

}







body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.fond_mineshaft {
  background-image: url('/assets/fond-mineshaft.png');
  background-size: 200vw 100vh;
  background-repeat: no-repeat;
}

.fog {
  background-image: url('/assets/fog-image.png');
  /* La taille de l'arrière-plan est maintenant fixée à 200% de la largeur de l'élément (.caverne) */
  background-size: 200vw 100vh;
  background-repeat: no-repeat;
  display: none;

}

.image-mine_deepslate {
  background-image: url('/assets/minedeepslate_fond_1.png');
  background-size: 200vw 100vh;
  background-repeat: no-repeat;
  display: none;

}

.fond_lushcave {
  background-image: url('/assets/fond-lushcave.png');
  background-size: 200vw 100vh;
  background-repeat: no-repeat;


}


#lushcave-section {
  display: flex;
  overflow: hidden;
}

#lushcave-section .maison {
  height: 100vh;
  width: 200vw;
  /* 2 écrans */
  display: flex;

}

#lushcave-section .maison>div {
  width: 100vw;
  display: grid;
  place-items: center;
}

#mineshaft {
  display: flex;
  overflow: hidden;
}

#mineshaft .caverne {
  height: 100vh;
  width: 200vw;
  /* 2 écrans */
  display: flex;
}



#lushcave-section .caverne>div {
  width: 100vw;
  display: grid;
  place-items: center;
}

@keyframes pop {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.e1Sec{
  background-image: url(/assets/e1bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#box2>div{
  z-index: 10;
}