@import "tailwindcss";

:root {
  /*  --background: #ffffff;
  --foreground: #171717; */
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /*  --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

* {
  box-sizing: border-box;

}







body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.fond_mineshaft {
  background-image: url('/assets/fond-mineshaft.png');
  background-size: 200vw 100vh;
  background-repeat: no-repeat;
}

.fog {
  background-image: url('/assets/fog-mineshaft.png');
  background-size: 200vw 100vh;
  background-repeat: no-repeat;
  display: none;

}

.image-mine_deepslate {
  background-image: url('/assets/e1bg.png');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;


}

.e1Sec {
  background-image: url(/assets/e1bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.fond_lushcave {
  background-image: url('/assets/lushcave.png');
  background-size: 200vw 100vh;
  background-repeat: no-repeat;


}





#lushcave-section {
  display: flex;
  overflow: hidden;
}

#lushcave-section .maison {
  height: 100vh;
  width: 200vw;
  /* 2 écrans */
  display: flex;

}

#lushcave-section .maison>div {
  width: 100vw;
  display: grid;
  place-items: center;
}

#mineshaft {
  display: flex;
  overflow: hidden;
}

#mineshaft .caverne {
  height: 100vh;
  width: 200vw;
  /* 2 écrans */
  display: flex;
}



#lushcave-section .caverne>div {
  width: 100vw;
  display: grid;
  place-items: center;
}

@keyframes pop {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}



#box2>div>img {
  z-index: 10;
}




.fond_mineshaft {
  background-image: url('/assets/fond-mineshaft.png');
  background-size: 200vw 100vh;
  background-repeat: no-repeat;
}

/* 🚨 NOUVELLE (ou confirmée) CLASSE pour l'état initial (Minecart statique) */
.mineshaft_img_1 {
  background-image: url('/assets/mineshaft_img_1.jpg');
  /* Vérifiez ce chemin */
  background-size: 200vw 100vh;
  background-repeat: no-repeat;
}

/* 🚨 NOUVELLE (ou confirmée) CLASSE pour l'état Mineshaft (après l'aller) */
.mineshaft_img_2 {
  background-image: url('/assets/mineshaft_img_2.jpg');
  /* Vérifiez ce chemin */
  background-size: 200vw 100vh;
  background-repeat: no-repeat;
}

.fog-lushcave {
  background-image: url('/assets/fog-lushcave.png');

  background-size: 200vw 100vh;
  background-repeat: no-repeat;
}


.redirect_url {
  background-image: url('/assets/URL_REDIRECTION.png');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  min-height: 100vh;

}